.container{

width: 900px;
height:600px;
border: 2px solid black;
margin-left: 300px;
background-color:lightgray;
}
.child{

width: 850px;
height:90px;
border: 2px solid black;
margin-left: 20px;
background-color:black;
bottom: 0px;
margin-top: 300px;
border-radius: 20px;
}
.child-1{
    width: 500px;
height:80px;
border: 2px solid black;
margin-left: 200px;
background-color:black;
bottom: 0px;
margin-top: 30px;
border-radius: 20px;
}
p{
    margin-right: 15px;
margin-top: 30px;

}

.container-1{
    display: flex;
    justify-content: space-between;
    margin-left: 5px;
    height: 20px;
    width: 20px;
      

font-size: 20px;
 order:0;
 margin-top:10px ;
margin-bottom: 100px;

}
p{
    color: white;
    bottom: 10px;
    order:0;
    padding: 20px;
    margin-left: -60px;
   margin-bottom: 0px;
}
i{ 
   
    display: flex;
    height: 20px;
    width: 20px;
    font-size: 20px;  
   padding: 15px;
  order:0;
 
border-radius: 50%;
background-color: white;
} 
 .child-1 {
  display: flex; 
  } 
   .child-1 p {
 flex: 1;
 margin: 0; 
 padding: 20px; 
 font-size: 25px;
 color: white;
 text-align: center;          
            } 
.green {
 background: green; 
 border-radius: 20px 0px 0px 20px;
    } 
.red { 
  background: red;
  border-radius: 0px 20px 20px 0px;
     }