 .main{
  position: relative;
  position: sticky;
     width: 310px;
    height: 600px;
    border: 4px solid black;
    border-radius: 20px;
    margin-left: 500px;
    margin-top: 200px;
    background-color: antiquewhite;
  
   overflow: scroll;


scrollbar-width:none;
scroll-behavior:smooth; 


   }
.child{
position: absolute;
position:sticky; 
width: 300px;
height: 30px;
border: 3px solid black;
background-color: lightgreen;
top: 0px;
border-radius: 20px 20px 0px 0px;
padding: 20px;



   


}

.child-1{
   
position: absolute;

width: 290px;
height: 20px;
bottom: 0px;
border: 2px solid black;
background-color:white;




border-radius: 20px;
padding: 20px;



}
i{
    
    font-size: 30px;
    color: black;
    margin-top: 100px;
    padding: 2px;
    margin-right: 0px;

}
i{
font-size: 30px;
    color: black;
    margin-top: 100px;
    padding: 2px;
    margin-right: 5px;
}
.child-2{
  position:sticky;
width: 100px;
height: 40px;
 top: 80px;
bottom:  0px;
border-radius: 20px;
padding: 0px;
margin-left: 100px;
background-color: lightyellow;
}
.child-3{
  position:absolute;
width: 60px;
height: 20px;
margin-bottom: 0px;
 top: 120px;
border-radius: 20px;
padding: 10px;
margin-left: 5px;
background:white;
z-index: -1;

}
.child-4{
     position:absolute;
   top: 180px;
   background:lightblue;
   margin-left: 140px;
   border-radius: 20px;
   z-index: -1;
}
.child-5{
     position:absolute;
   top: 220px;
   background:white;
   margin-left: 6px;
   border-radius: 20px;
   z-index: -1;
}
.child-6{
     position:absolute;
   top: 260px;
   background:lightblue;
   margin-left: 150px;
   border-radius: 20px;
    z-index:-1;
}
.child-7{
     position:absolute;
   top: 300px;
   background:white;
   margin-left: 6px;
   border-radius: 20px;
    z-index:-1;
}
.child-8{
     position:absolute;
   top: 340px;
   background:lightblue;
   margin-left: 150px;
   border-radius: 20px;
   z-index: -1;
}
.child-9{
    position:absolute;
width: 100px;
height: 40px;
 top: 380px;
bottom:  0px;
border-radius: 20px;
padding: 0px;
margin-left: 100px;
background-color: lightyellow;
z-index: -1;


}

.child-10{
     position:absolute;
   top: 420px;
   background:lightblue;
   margin-left: 220px;
   border-radius: 20px;
 z-index:-1;
}
.child-11{
  position:absolute;
width: 160px;
height: 40px;
 top: 460px;
bottom:  0px;
border-radius: 20px;
padding: 0px;
margin-left: 10px;
background-color: white;
 z-index:-1;

}
.child-12{
     position:absolute;
   top: 495px;
   background:lightblue;
   margin-left: 170px;
   border-radius: 20px;
 z-index: -1;
}
.child-13{
    position:absolute;
width: 100px;
height: 40px;
 top: 520px;
bottom:  0px;
border-radius: 20px;
padding: 0px;
margin-left: 10px;
background-color: white;

 z-index:-1;
 



}
.child-14{
   position:absolute;
   top: 560px;
   background:lightblue;
   margin-left: 170px;
   border-radius: 20px;
 
   z-index:-1;
 
} 


 .child-15{
    position:absolute;
width: 140px;
height: 40px;
 top: 600px;
bottom:  0px;
border-radius: 20px;
padding: 0px;
margin-left: 10px;
background-color: white;

 z-index:-1;
 



}
.child-16{
   position:absolute;
   top: 640px;
   background:lightblue;
   margin-left: 170px;
   border-radius: 20px;
 
   z-index:-1;
 
} 
.child-17{
    position:absolute;
width: 140px;
height: 40px;
 top: 680px;
bottom:  0px;
border-radius: 20px;
padding: 0px;
margin-left: 10px;
background-color: white;

 z-index:-1;
 



}
.child-18{
   position:absolute;
   top: 700px;
   background:lightblue;
   margin-left: 170px;
   border-radius: 20px;
 
   z-index:-1;
 
} 
